*{
    font-family: 'Quicksand', sans-serif;
}

/* main bac color #F8F8FF */
::selection {
    color: black;
    background: rgb(250, 45, 100);
  }


  .wrapper_1{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    font-weight: 800;
    background-color: aquamarine;
}